 
<div id="myModal" class="modal">
    <div class="modal-content">
        <span onclick="closeModal()" class="close">&times;</span>
        <h2 >Adicionar bolsa</h2>
        <h4>dades do seu interesse e receba atualizaçõe </h4>
        <form method="POST">
            <div id="formContent">
                <div id="formContentLine">
                    <div id="formContentLineElements">
                        SELECIONE SUA CIDADE
                        <div>
                            <select id="customSelect" aria-placeholder="CIDADE" name="cidade" onchange="cidadeSelecionada()">
                                <% objForm.listCity.forEach( city => { %>
                                    <option name="cidade" value="<%= city %>"><%- city %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div id="formContentLineElements">
                        SELECIONE O CURSO DE SUA PREFERÊNCIA
                        <div>
                            <select id="customSelect" aria-placeholder="CURSO" name="curso" >
                                <% objForm.listCourses.forEach( c => { %>
                                    <option name="curso" value="<%= c.name %>"><%- c.name %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="formContentLine">
                    <div id="formContentLineElements">
                        COMO VOCÊ QUER ESTUDAR?
                        <div id="customCheckBox">
                            <label>
                                <input type="checkbox" id="checkPresencial" name="checkPresencial"  > Presencial
                            </label>
                            <label>
                                <input type="checkbox" id="checkEAD" name="checkEAD"> A Distancia
                            </label>
                        </div>
                    </div>
                    <div id="formContentLineElements">
                        ATÉ QUANTO PODE PAGAR?
                        <p>R$ <span id="valorPreco" name="valorPreco"></span></p> 
                        <input type="range" min="1000" max="10000" name="valorPreco" value="5000" class="slider" id="myRange">
                    </div>
                </div>
                <div id="formContentLine">
                    <div id="formContentLineElements">Resultado:</div>
                    <div id="formContentLineElements">Ordenar por</div>
                </div>
                <div id="lineDivision"></div>

                <% for(let i = 0; i < objForm.listUniveritys.length; i++ ) { %>

                    <!--<% if (objForm.listUniveritys[i].course.name === 'Engenharia Mecânica') { %>
                        <h2><%= objForm.listUniveritys[i].course.name %></h2>
                    <% } %>-->

                        <div id="listFaculdades">
                                <div id="checkFaculdade">
                                    <input type="checkbox" name="courseSelected" id="courseSelected"  value="<%= i %>" onchange="cursoSelecionado()">
                                </div>
                                
                                <div id="logoFaculdade"><img src="<%- objForm.listUniveritys[i].university.logo_url %>"></div>
                                
                                <div id="nameAndLevel">
                                    <div id="nameCourseName">
                                        <label >
                                            <%- objForm.listUniveritys[i].course.name %>
                                        </label>
                                    </div>
                                    <div id="nameCourseLevel">
                                        <label>
                                            <%- objForm.listUniveritys[i].course.level %>
                                        </label>
                                    </div>
                                </div>
                                
                                <div id="priceAndDiscont">
                                        <div id="valorDisconto">
                                            Bolsa de 
                                            <label id="labelDesconto"><%- objForm.listUniveritys[i].discount_percentage %>%</div></label>
                                        <div id="valorFaculdade">
                                            <label>
                                                R$ 
                                                <%- objForm.listUniveritys[i].price_with_discount %>
                                                /mês
                                            </label>
                                        </div>
                                </div>
                                
                        </div>
                        <div id="lineDivision"></div>
                    
                <% } %>

                <input type="hidden" id="nameCourseName">

                <footer id="footerForm">
                    <input type="submit" id="btnCancelar" value="Cancelar"></input >
                    <input type="submit" id="btnAddBolsa" value="Adicionar Bolsa(s)" disabled></input >
                </footer>
            </div>
        </form>
    </div>
  
    <script> 
            let rangeslider = document.getElementById("myRange"); 
            let output = document.getElementById("valorPreco"); 
            output.innerHTML = rangeslider.value; 
                
            rangeslider.oninput = function() { 
                output.innerHTML = parseFloat(this.value).toFixed(2); 
            }

            function cidadeSelecionada() {
                //Var pois ele da o hipping no escopo
                var cidadeSelecionada = document.getElementByName('cidade').value
            }
            
            function cursoSelecionado() {
                let items = document.getElementsByName('courseSelected');
                document.getElementById('btnAddBolsa').disabled = true
                let count = 0;

				for(let i=0; i < items.length; i++){
					
                    console.log('item', items[i])

                    if(items[i].type =='checkbox' && items[i].checked == true){
                        if(count > 3) {
                            items[i].checked = false;
                        } else {
                            count ++;
                        }

                        document.getElementById('btnAddBolsa').disabled = false;
                    }
                }
                
                if(count > 3) {
                    alert('Selecione no máximo 3 cursos!');
                }
            }
        </script> 

  </div>